<% provide(:about_active, 'active') %>
<% provide(:page_title, "About") %>

<title><%= yield(:page_title) %> | FroggerBlogger</title>
<h1><%= yield(:page_title) %> Page</h1>

<!-- Basic Info section -->
<div class="card">
  <div class="card-block">
    <div class="card-title">
      TechmakerTV Info
    </div>
    <div class="card-body">
    <p>
      This Frogger-Blogger app was created from following the excellent 15 part
      <a href="https://www.youtube.com/channel/UCaT8uPGUYbdRsjm4cJy1D7w/" target="_blank">TechmakerTV</a> YouTube series written by
      <a href="https://github.com/StephenFiser" target="_blank">Stephen Fiser</a>
      entitled:
    </p>
    <p>
        <a href="https://www.youtube.com/watch?v=VpNBCpAgEsY&list=PLjItgYqIzJ9XuCqSsMbolBjLPd-5pA9xj" target="_blank">How to build a blog with Rails 5 and Bootstrap 4.</a>
    </p>
    <p>Awesome tools and features included in FroggerBlogger:</p>
    <ul>
      <li><a href="https://guides.rubyonrails.org/v5.0/" target="_blank">Built with Ruby on Rails 5.
      </a></li>
      <li><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">Bootstrap 4 in a responsive manner...
      </a></li>
      <li><a href="https://www.pexels.com/" target="_blank">
        Pexels Free Stock Photos.
      </a></li>
      <li><a href="https://github.com/norman/friendly_id/" target="_blank">
        Friendly_ID makes pretty urls and human friendly strings.
      </a></li>
      <li><a href="http://mislav.github.io/will_paginate/" target="_blank">
          Very cool page footer navigation using will_paginate.
      </a>
          Had to be sure to include
        <a href="http://mislav.github.io/will_paginate/pagination.css" target="_blank">
          the .apple_pagination section of the css.
      </a>
      Stephen's explanation is in
        <a href="https://www.youtube.com/watch?v=6wNnGRShKYc&feature=youtu.be&t=226" target="_blank">
      this portion of his 8th YouTube lesson.
      </a></li>
      <li><a href="https://github.com/mbleigh/acts-as-taggable-on" target="_blank">
        ActsAsTaggableOn make sorting and tagging posts super simple.
      <li><a href="https://hipsum.co/" target="_blank">
        Hipster sounding Lorem ipsum (dummy text) : ).
      </a></li>
      <li><a href="https://github.com/plataformatec/devise" target="_blank">
        Devise a flexible authentication solution.
      </a></li>
      <li><a href="https://www.tinymce.com/" target="_blank">
        TinyMCE a fully featured WYSIWYG editor to create posts that do it all.
      </a></li>
      <li><a href="https://disqus.com" target="_blank">
        Disqus is a discussion tool that makes user commenting, interactions,
        and upvoting easy.
      </a></li>
      <li><a href="https://www.materialpalette.com/blue/lime" target="_blank">
        Material Design Palette for pleasing color combinations (in this case
        blue and lime).
      </a></li>
      <li><a href="https://github.com/turbolinks/turbolinks" target="_blank">
        Turbolinks speeds page rendering.
      </a></li>
      <li><a href="https://en.gravatar.com/" target="_blank">
          Globally Recognized Avatar (Gravatar) is an image/photo that represents you when you interact with websites.
      </a></li>
    </li>
    </ul>
    <p>And I am sure others I have forgotten...</p>
    </div>
  </div>
</div>
