<% provide(:contact_active, 'active') %>
<% provide(:page_title, "Contact") %>

<title><%= yield(:page_title) %> | FroggerBlogger</title>
<h1><%= yield(:page_title) %> Page</h1>

<!-- Basic Info section -->
<div class="card">
  <div class="card-block">
    <div class="card-title">
      Not much to say...
    </div>
    <div class="card-body">
      <p>If you would like to add and edit your own posts, ping me here and I
    will add an account and passwd so you can post to your heart's content! :)
      </p>
    <pre>
    lorvidltd
    at
    gmail
    </pre>
  </div>
  </div>
</div>
